body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #023859;
    color: white;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-size: 4em;
}

h2 {
 font-size: 3em;
}

h3 {
    font-size: 2em;
}

a {
    color: inherit;
    text-decoration: none;
}


/* LINKS DE NAVEGAÇÃO */

.nav-principal {
    /* border: 2px solid red; */
    color: white;
    height: 60px;
}

.ul-principal {
    /* border: 2px solid red; */
    text-align: right;
    font-size: 14px;
}

.nav-link {
    /* border: 2px solid red; */
    display: inline-block;
    text-align: center;
    padding: 1% 3%;
    margin-right: 50px;
}

/* PRIMEIRA SEÇÃO */

#first-section {
    vertical-align: center;
}

#table-principal {
    display: inline-block;
    font-size: 18px;
    border: 2px white solid;
}

td {
    border: 2px white solid;
}

#stoma-picture {
    width: 325px;
    margin-top: 20px;
}

#stoma-description {
    display: inline-block;
    width: 540px;
    text-align: justify;
    float: right;
}


/* PRIMEIRO FATO */

#boxe-img-group {
    text-align: right;
    display: inline;
    float: right;
    margin-top: 20px;
}

#boxe-picture {
    text-align: right;
    width: 380px;
}

#boxe-text {
    width: 500px;
    display: inline-block;
    text-align: justify;
}

/* SEGUNDO FATO */

#color-picture {
    width: 350px;
    display: inline-block;
    float: left;
    margin-top: 20px;
}

#color-text {
    width: 500px;
    display: inline-block;
    margin-left: 85px;
    text-align: justify;
}

/* REFERÊNCIA */

#reference-principal {
    text-align: center;
    margin-top: 100px;
}

.link-new {
    text-decoration: underline;
}
 .link-new:hover {
     color: #7EB6D9;
 }
