* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(35, 35, 35);
  color: rgb(242, 242, 242);
}

section:first-of-type {
  display: flex;
  justify-content: center;
  padding: 20px; 
  font-size: 20px;
}

section:last-of-type {
  display: flex;
  justify-content: center;;
}

.gallery-img-container div {
  background-color: rgb(241, 241, 241);
  border-bottom: 5px solid rgb(208, 208, 208);
  border-right: 5px solid rgb(208, 208, 208);
  border-radius: 20px;
  box-shadow: 10px black;
  padding: 20px;
  margin-bottom: 20px;

}

.gallery-img-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 680px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.hr {
  display: flex;
  justify-content: center;
}

hr {
  width: 200px;
  margin-top: 30px;
}