.super-mario {
    width: 200px;
    position: absolute;
    left: 120px;

  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 350px;
    left: 200px;
  }
  
  .baloon {
    position: absolute;
    top: 180px;
    left: 410px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 225px;
    left: 430px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 320px;
    left: 700px;
  }