* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #f2f2f2;
  --black: #010101;
}

body {
  display: flex;
}

.cards__container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  border: 1px var(--black) solid;
  width: 400px;
  border-radius: 8px;
  margin: 10px 20px;
  padding: 20px;
}

.card p:not(:first-of-type) {
  margin-top: 8px;
}
